.gameDetail {
  height: 100%;
  width: inherit;
}

.gameDetail--main {
  padding: 0 1rem 20rem;
}

.gameDetail__hero {
  height: 14.5265rem;
  width: auto;
  overflow: hidden;
  margin-bottom: 1rem;
}

.gameDetail__hero img {
  display: block;
  height: 125%;
  margin: 0 auto;
  object-fit: cover;
  width: 125%;
  position: relative;
  left: -12.5%;
  top: -12.5%;
  filter: blur(1rem);
}

.backButton {
  position: fixed;
  bottom: 7rem; /* height of tab nav +1 rem */
  left: 1rem;
}

.gameCoverAndName {
  display: flex;
  margin-bottom: 1rem;
}

.gameCover {
  width: 3.75rem;
  height: 5rem;
  border-radius: 0.25rem;
  margin-right: 1rem;
}

.gameName {
  color: #6260A0;
  font-size: 2rem;
  font-weight: bold;
}


.gameSummary {
  color: #777777;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 2rem;
}

.gameDetail__tagsEditor {
  margin-bottom: 2rem;
}
