.appNav {
  background: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: -1px 0 0.5rem rgba(0,0,0,0.10);
  z-index: 1;
  padding-bottom: calc(env(safe-area-inset-top) - 1rem);
}

.appNav__links {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.5rem 0;
}

.appNav__links > li {
  display: inline-block;
  text-indent: -999999px;
}

.appNav__links > li a {
  display: block;
  width: 2rem;
  height: 2rem;
}

.appNav__links--profile {
  background: url('/tabbar-profile-icon-default.svg');
}

.appNav__links--search {
  background: url('/tabbar-search-icon-default.svg');
}

.appNav__links--settings {
  background: url('/tabbar-settings-icon-default.svg');
}
