@import url('https://fonts.googleapis.com/css?family=Barlow:400,400i,700&family=Rubik:700&display=swap');

.appWrapper,
.appWrapper > div {
  font-family: 'Barlow', sans-serif;
  width: 100%;
  height: 100%;
}

.button {
  border-radius: 0.25rem;
  font-size: inherit;
  padding: 0.5rem;
}
